@import '../../../scss/globals';
:host-context(.kanye-card) {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  padding: $spacing--xl;
  width: 100%;
  height: auto;
  background-color: color('boost');
  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
  &::before {
    background-repeat: repeat;
    background-image: url('../../../assets/boost_texture.jpg');
    opacity: 0.275;
  }
  &::after {
    background: linear-gradient(165deg, rgba(white, 0) 5%, rgba(white, 1) 100%);
  }
  @include breakpoint(md) {
    height: 520px;
    padding: $spacing--3xl;
  }
  @include elevate-5(color('dark'), 0.145);
}

.kanye-brand {
  fill: color('dark');
}

.alxv-brand {
  height: 18px;
  width: 54px;
  fill: color('alxv');
  &-accent {
    fill: color('alxvaccent');
  }
}

.kanye-code {
  display: inline-block;
  user-select: none;
  flex-shrink: 0;
  font-size: $body--1;
  line-height: 1.25;
  font-weight: font-weight('medium');
  font-family: font-family('mono'), monospace;
  color: color('darktan');
}

.kanye-code-bars {
  display: inline-flex;
  flex-shrink: 0;
  span {
    display: inline-block;
    height: 2px;
    width: 16px;
    background-color: color('militarygreen');
    @include breakpoint(md) {
      width: 24px;
    }
    &:nth-child(1) {
      margin-left: 8px;
      margin-right: 8px;
    }
    &:nth-child(2) {
      width: 64px;
      @include breakpoint(md) {
        width: 128px;
      }
      background-color: color('accent');
      margin-right: 8px;
    }
    &:nth-child(3) {
      width: 32px;
      @include breakpoint(md) {
        width: 64px;
      }
      background-color: color('accent2');
    }
  }
}

.kanye-content-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  @include breakpoint(md) {
    flex-direction: row;
  }
}

.kanye-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @include breakpoint(md) {
    flex-direction: row;
  }
  &::before {
    position: absolute;
    z-index: 0;
    opacity: 0.75;
    content: '';
    bottom: 0;
    right: 0;
    height: 25%;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23c2c0ba' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    @include breakpoint(md) {
      width: 60%;
    }
  }
  &__column {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @include breakpoint(md) {
      width: 50%;
    }
  }
  &__column-quote {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin: $spacing--xl 0;
    width: 100%;
    @include breakpoint(md) {
      width: 57%;
    }
    @include breakpoint(lg) {
      margin: 0;
      width: 60%;
    }
  }
}

.kanye-card {
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__side-code {
    position: relative;
    height: 14px;
    width: 100%;
    order: 2;
    margin-top: $spacing--lg;
    @include breakpoint(md) {
      margin-top: 0;
      order: 0;
      width: 14px;
      height: 100%;
    }
    &-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      transform: rotate(0) translateX(0);
      transform-origin: left center;
      @include breakpoint(md) {
        justify-content: flex-end;
        transform: rotate(-90deg) translateX(124px);
      }
    }
  }
}

.kanyes-mind {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: $spacing--lg 0;
  @include breakpoint(md) {
    padding: $spacing--lg;
  }
  h1 {
    z-index: 3;
    margin: 0;
    font-size: $large--title;
    line-height: 1.15;
    font-family: font-family('abril'), cursive;
    font-weight: font-weight('medium');
    @include breakpoint(md) {
      font-size: $huge--title;
    }
  }
}

.wave {
  position: absolute;
  height: 320px;
  width: 320px;
  //left: -60px;
  border: 0.75px solid black;
  opacity: 0.45;
  border-radius: 900px;
  & ~ .wave {
    height: 220px;
    width: 220px;

    & ~ .wave {
      height: 140px;
      width: 140px;
    }
  }
}
