@import '../../../scss/globals';
:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 $spacing--lg;
  width: 100%;
  height: 100%;
  max-width: 900px;
}

.kanye-footer {
  position: relative;
  top: -8px;
  z-index: -1;
  width: 100%;
  @include breakpoint(md) {
    top: -16px;
  }
}
