@import '../../../scss/globals';

:host-context(.kanye-quote-card) {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 320ms ease;
  right: 0;
  z-index: 2;
  border-radius: 1rem;
  width: 100%;
  height: auto;
  padding: $spacing--lg;
  @include breakpoint(sm) {
    padding: $spacing--xl;
  }
  @include frosted-glass(color('boost'), 0.125);
  @include elevate-3(color('dark'), 0.045);
}

.kanye-quote-icon {
  position: relative;
  flex-shrink: 0;
  top: -32px;
  fill: color('accent');
  height: 37px;
  width: 48px;
}

.kanye-quote-card {
  &__footer {
    position: relative;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__author {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 24px;
    font-size: $subtitle;
    line-height: 1.1;
    color: color('darktan');
    font-weight: font-weight('medium');
    font-family: font-family('abril'), cursive;
  }

  &__profile {
    position: relative;
    height: 64px;
    width: 64px;
    flex-shrink: 0;
    border-radius: 90px;
    overflow: hidden;
    border: 3px solid color('accent');
    img {
      opacity: 1;
    }
  }
}

.kanye-quote-block {
  position: relative;
  display: flex;
  top: -10px;
  align-items: center;
  width: 100%;
  min-height: 28px;
  &__quote {
    font-size: $subtitle;
    font-weight: font-weight('medium');
    line-height: 1.45;
    margin: 0;
    opacity: 1;
    @include breakpoint(sm) {
      font-size: $subtitle--2;
    }
  }
}
